body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

header {
  background-color: #ccc;
  color: #777;
  padding: 20px;
}

#navigation {
  height: 25px;
  width:800px;
	margin: 30px auto 30px auto;
  background-color: #eee;
}

td {
  margin: 10px auto 10px auto;
}

h1 {
  font-size: 2em;
}

main {
  color: #777
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  text-decoration-thickness: 1px;
  color: #007;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: #00e;
  text-decoration: underline;
}

.week {
  margin-top: 20px;
}

#reference li {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  /* Adjustments for mobile devices */

  #navigation {
    width: 100%;
  }

  td {
    margin: 5px auto;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  body {
    font-size: 1.2em;
  }
}
