body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

header {
  background-color: #ccc;
  color: #777;
  padding: 20px;
}

#navigation {
  height: 25px;
  width:800px;
	margin: 30px auto 30px auto;
  background-color: #eee;
}

td {
  margin: 10px auto 10px auto;
}

h1 {
  font-size: 2em;
}

main {
  color: #777
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: #000099;
  text-decoration: underline;
}
